@import "src/app/styles/reset";
@import "src/app/styles/variables/global";
@import "src/app/styles/theme/normal";
@import "src/app/styles/theme/dark";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    height: 10px;
    width: 12px;               /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
    background: var(--invert-primary-color);        /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
    background-color: var(--invert-primary-color);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid var(--primary-color);  /* padding вокруг плашки */
}
