@import "src/app/styles/reset";
@import "src/app/styles/variables/global";
@import "src/app/styles/theme/normal";
@import "src/app/styles/theme/dark";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.content-wrapper {
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - var(--navbar-height));
    padding: 20px;
    flex-grow: 1;
}
