.dark {
    --bg-color: #0f0f0f;
    --invert-bg-color: #fbf4f4;
    --primary-color: #fbf4f4;
    --secondary-color: #0f0f0f;
    --invert-primary-color: #0f0f0f;
    --invert-secondary-color: #fbf4f4;
    --red: #ec2020;
}
