.app.dark {
    --bg-color: #1f2eaa;
    --invert-bg-color: #e8e8e8;
    --primary-color: #238a07;
    --secondary-color: #43e31b;
    --invert-primary-color: #0f1d9f;
    --invert-secondary-color: #3a46f8;
}
