.light {
    --bg-color: #fbf4f4;
    --invert-bg-color: #0f0f0f;
    --primary-color: #0f0f0f;
    --secondary-color: #fbf4f4;
    --invert-primary-color: #fbf4f4;
    --invert-secondary-color: #0f0f0f;
    --light-red: #ff5353;
}
