.light {
    --bg-color: #e8e8e8;
    --invert-bg-color: #1a31f6;
    --primary-color: #6e85fa;
    --secondary-color: #4748a6;
    --invert-primary-color: #020a60;
    --invert-secondary-color: #43e31b;
    --light-red: #ff5353;
}
