.light {
    --bg-color: #e8e8e8;
    --invert-bg-color: #1f2eaa;
    --primary-color: #030931;
    --secondary-color: #3a46f8;
    --invert-primary-color: #020a60;
    --invert-secondary-color: #43e31b;
}
