.Text {
    margin: 0;
    padding: 0;
}

.primary {
    color: var(--primary-color);
}

.success {
    color: var(--succes-color);
}

.error {
    color: var(--error-color);
}

.secondary {
    color: var(--secondary-color);
}

.inverted {
    color: var(--invert-secondary-color)
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
