.Input {
    padding: 8px 10px;
    border: 1px solid var(--invert-primary-color);
    border-radius: 5px;
    font: var(--font-m);
    color: var(--primary-color);

    &:focus {
        outline: none;
    }
}
