.Input {
    padding: 8px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font: var(--font-m);
    color: var(--primary-color);
    background: transparent;

    &:focus {
        outline: none;
    }
}
