.Select {
    padding: 3px 10px;
    outline: none;
    border: 1px solid var(--primary-color);
}

.label {
    color: var(--invert-bg-color);
    margin-right: 10px;
}

.option {
    color: var(--invert-primary-color);
    background-color: var(--invert-bg-color);
}
