.header {
    display: flex;
    justify-content: space-between;
}

.text {
    margin-bottom: 20px;
}

.profile_data {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.profile_avatar {
    margin-right: 50px;
}
