.EditableProfileCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    padding: 20px;

    &_container{
        width: 100%;
    }
}

.ProfileCardHeader {
    display: flex;
    margin-bottom: 20px;

    .btn {
        margin-left: auto;

        &:hover {
            border: 1px solid var(--secondary-color);
        }
    }
}
